
.product {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.product_image {
    margin: 5px 0 0 0;
    width: 500px;
    object-fit: contain;
    align-self: flex-start;
    float: left;
}

.product_menu{
    float: center;
}


.product-items p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.item {
    text-align: left;
    width: 55%;
}

.price{
    text-align: right;
    width: 25%;
    padding-right: 16px;
}

button {
    text-align: right;
}

h2 {
    font-family: 'Brush Script MT';
    font-size: 50px;
    text-align: center;
}

hr {
    height: 2px;
    background-color: black;
    border-color: black;
}

p {
    font-family: 'Brushstroke';
    font-weight: bold;
}

