@tailwind base;
@tailwind components;
@tailwind utilities;

.full-screen {
  @apply fixed top-0 left-0 w-full h-full object-contain z-50;
}
/* scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}
