@tailwind base;
@tailwind components;
@tailwind utilities;

.full-screen {
  @apply fixed left-0 top-0 z-50 h-full w-full object-contain;
}
/* scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}
